<%- include('header.ejs') %>

<main>
  <% if (locals.postData) { %> <% postData.forEach(function (post) { %>
  <div class="container2">
    <div class="post">
      <div class="title"><%= post.title %></div>
      <!-- Display a portion of the post content -->
      <div class="post-text">
        <%= post.post.substring(0, 200) %>...<a href="/blog/<%= post._id %>"
          >read me</a
        >
      </div>
    </div>
  </div>
  <% }); %> <% } else { %>
  <p>No posts to display.</p>
  <% } %>
</main>

<%- include('footer.ejs') %>
